* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f3f3f3;
  /* color-scheme: light dark; */
}

/* 通过媒体查询 */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #131313;
  }
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  /* background-color: light-dark(#f3f3f3, #131313); */
}
